body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.calendar-container {
  text-align: center;
  padding: 20px;
  width: 90vw;
  max-width: 1200px;
  background-color: white;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.selected-date-info {
  text-align: left;
}

.date-navigation {
  text-align: right;
}

.year-navigation,
.month-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5px;
}

#yearDisplay,
#monthDisplay {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 10px;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

button:hover {
  background-color: #005f73;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 1.2em;
  vertical-align: top;
}

td .date {
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 10px;
}

td img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin: 5px 0;
}

td:hover {
  background-color: #e0e0e0;
}

td.today {
  background-color: #ff9800;
  font-weight: bold;
  color: white;
}
