<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space - 내 정보</title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="/css/signup.css">
	<link rel="stylesheet" href="/css/allergyForm.css">
</head>
<body>
		<div class="container">
	    <p th:if="${user != null}">
	        아이디: <span th:text="${user.id}"></span><br>
	        이름: <span th:text="${user.name}"></span><br>
	        나이: <span th:text="${user.age}"></span><br>
	        성별: <span th:text="${user.gender}"></span><br>
	    </p>
	    <p th:if="${userAllergy != null}">
	        알러지 정보:<br>
	        <span th:if="${userAllergy.1}">우유 </span>
	        <span th:if="${userAllergy.2}">달걀 </span>
	        <span th:if="${userAllergy.3}">땅콩 </span>
	        <span th:if="${userAllergy.4}">견과류 </span>
	        <span th:if="${userAllergy.5}">해산물 </span>
	        <span th:if="${userAllergy.6}">갑각류 </span>
	        <span th:if="${userAllergy.7}">밀 </span>
	        <span th:if="${userAllergy.8}">대두류 </span>
	        <span th:if="${userAllergy.none}">없음</span>
	    </p>
	    <p th:if="${user == null}">사용자 정보를 찾을 수 없습니다.</p>
		<br>
		<br>
		<button id="deleteAccountBtn">회원탈퇴</button>
		</div>
</body>
</html>
